RUST_LOG="debug,hyper=info,h2=info,httpmock=info"

# --- Testing using the local KeyCloak instance ---
KC_URL="http://keycloak:8888"
KC_REALM="cryptpay-local"
KC_CLIENT_ID="cryptpay"
KC_CLIENT_SECRET=""
RT_API_URL="http://localhost:7071/api"

# iota mainnet mnemonic for the send compliment regression test
MNEMONIC_HANS34=""