{% extends "base.html" %}
{% block tabs %}
{{ super() }}
{% if page.url == "" %}


<section class="mdx-container"
    style="background-image: url('assets/images/Cawaena_BG_Hero.jpg'); height: 90vh; background-size: cover; background-attachment: fixed; display: flex; flex-direction: column; justify-content: flex-end; padding: 0;">
    <div class="md-grid md-typeset"
        style="display: flex; flex-direction: column; justify-content: flex-end; height: 100%; align-items: flex-start; padding: 0 2rem;">
        <div class="mdx-hero__content" style="text-align: left; padding: 2rem 0;">
            <h1 style="font-size: 2.5rem; margin-bottom: 20px; font-weight: 700; color: #ED8011;">
                Welcome to Cawaena
            </h1>
            <p style="font-size: 1.2rem; margin-bottom: 30px;  color: rgb(16, 8, 8);">
                Welcome to the SDK documentation. This comprehensive guide is designed to provide you with all the
                information you need to install and use the SDK effectively.
            </p>

            <!-- Buttons -->
            <div style="margin-top: 20px; display: flex; gap: 1rem; justify-content: flex-start;">
                <a href="/Installing%20the%20SDK/Installation/" class="md-button md-button--primary"
                    style="color: white;">
                    Get Started
                </a>
                <a href="/SDK%20Examples/Examples/" class="md-button" style="color: white;">
                    See Examples
                </a>
            </div>
        </div>
    </div>
</section>


{% endif %}
{% endblock %}

<!-- Content -->
{% block content %}
{% if page.url == "" %}
<style>
    .md-header,
    .md-sidebar {
        display: none;
    }
</style>
{% endif %}
<!-- Include the remaining content -->
{{ super() }}
{% endblock %}
