:root {
    --md-hue: 30deg;
    /* Hue close to orange */

    /* Primary Colors */
    --md-primary-fg-color: #ED8011;
    /* Orange */
    --md-primary-fg-color--light: hsla(32, 83%, 60%, 1);
    /* Softer orange */
    --md-primary-fg-color--dark: hsla(32, 83%, 45%, 1);
    /* Deeper orange */
    --md-primary-bg-color: hsla(0, 0%, 98%, 1);
    /* Near white for light mode */
    --md-primary-bg-color--light: hsla(0, 0%, 98%, 0.7);
    /* Softer white */

    /* Default Background and Foreground */
    --md-default-fg-color: #3A3E3B;
    /* Deep greenish-gray */
    --md-default-bg-color: hsla(0, 0%, 98%, 1);

    /* Accent Colors */
    --md-accent-fg-color: hsla(30, 83%, 50%, 1);
    /* Match primary orange */
    --md-accent-bg-color: hsla(30, 83%, 96%, 1);

    /* Syntax Highlighting */
    --md-code-hl-special-color: hsla(25, 70%, 60%, 1);
    /* Muted orange for specials */
    --md-code-hl-function-color: hsla(25, 60%, 50%, 1);
    /* Slightly darker orange for functions */
    --md-code-hl-constant-color: hsla(25, 50%, 70%, 1);
    /* Pale orange for constants */
    --md-code-hl-keyword-color: hsla(25, 90%, 40%, 1);
    /* Dark burnt orange for keywords */
    --md-code-hl-string-color: hsla(25, 30%, 65%, 1);
    /* Light brown-orange for strings */
    --md-code-hl-comment-color: hsla(0, 0%, 50%, 1);
    /* Neutral gray for comments */



    /* Admonitions */
    --md-admonition-bg-color: hsla(30, 83%, 90%, 1);
    /* Soft orange background */
    --md-admonition-fg-color: #3A3E3B;
    /* Contrast text */

    /* Footer */
    --md-footer-fg-color: hsla(0, 0%, 90%, 1);
    --md-footer-bg-color: #3A3E3B;
    /* Deep gray */
}

.md-footer-custom-links {
    text-align: center;
    padding: 1rem 0;
}

.md-footer-custom-links a {
    color: var(--md-footer-fg-color--light);
    margin: 0 0.5rem;
}

.md-footer-meta__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}